@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* <<< Add Font-Face >>>> */
  @font-face {
    font-family: danaMedium;
    src: url('/assets/font/Dana-Medium.woff') format(woff);
  }
  @font-face {
    font-family: danaBold;
    src: url('/assets/font/Dana-Bold.woff') format(woff);
  }
  @font-face {
    font-family: danaBlack;
    src: url('/assets/font/Dana-Black.woff') format(woff);
  }

  body{
    @apply m-0 p-0 box-border text-base text-font-default font-danaMedium bg-background-default relative ;
  }
}

@layer components{
  /* <<<< button Primary >>>> */
  .btn_primary{
    @apply flex items-center justify-center w-12 h-12 text-font-100 text-2xl bg-background-300 dark:bg-success-default rounded-full;
  }
  /* <<<< Link and Link_active  >>>> */
  .links{
    @apply flex items-center justify-between font-danaBold text-font-default text-xl ease-linear duration-300 dark:text-font-200  hover:text-primary-default dark:hover:text-primary-default
  }
  .links_active{
    @apply flex items-center justify-between font-danaBold text-primary-default text-xl 

  }
  /* <<<< Shadow background >>> */
  .shadow{
    @apply block fixed z-[7777] bg-background-shadow-black dark:bg-background-shadow-white w-full h-[100vh] top-0 backdrop-blur-[2px]
  }
  /* <<<< Box >>>> */
  .box{
    @apply block bg-background-100 rounded-lg p-3 dark:bg-background-200;
  }
  /* <<<< subTitle >>>> */
  .subTitle{
    @apply block font-danaBold text-xl text-font-default dark:text-font-200;
  }
  /* <<<< btn_blue >>>> */
  .btn_blue{
    @apply flex items-center justify-center w-[120px] h-12 cursor-pointer bg-primary-default font-danaBold text-background-100 rounded-lg ease-linear duration-300 hover:bg-primary-100
  }
    /* <<<< btn_green >>>> */
  .btn_green{
    @apply flex items-center justify-center w-[120px] h-12 cursor-pointer bg-secondary-default font-danaBold text-background-100 rounded-lg ease-linear duration-300 hover:bg-secondary-100
  }
    /* <<<< btn_red >>>> */
  .btn_red{
    @apply flex items-center justify-center w-[120px] h-12 cursor-pointer bg-red-500 font-danaBold text-background-100 rounded-lg ease-linear duration-300 hover:bg-red-600
  }
  /* <<<< Form Style >>>> */
  .form_wrapper{
    @apply block mt-4;
  }
  .form_label{
    @apply block text-font-default dark:text-font-100;
  }
  .form_input{
    @apply block w-full h-10 mt-2 pr-3 outline-none rounded-lg  text-font-default dark:text-font-100 bg-background-300 dark:bg-success-default;
  }
}
/* <<<< style swal  >>>> */
.swal-modal{
  @apply  bg-background-100  dark:bg-background-200
}
.swal-modal, .swal-icon .swal-icon--success{
  @apply  bg-background-100  dark:bg-background-200 
}
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
  @apply  bg-background-100  dark:bg-background-200 
}
.swal-title{
  @apply text-font-default dark:text-font-200 
}
.swal-button , .swal-button--confirm{
  @apply btn_green
}
.swal-button , .swal-button--confirm:hover{
  @apply flex items-center justify-center w-[120px] h-12 cursor-pointer bg-secondary-default font-danaBold text-background-100 rounded-lg ease-linear duration-300 hover:bg-secondary-100
}
.swal-button--cancel{
  @apply btn_red
}
 .swal-button--cancel:hover{
  @apply flex items-center justify-center w-[120px] h-12 cursor-pointer bg-red-500 font-danaBold text-background-100 rounded-lg ease-linear duration-300 hover:bg-red-600

}